<!-- ============================================================== -->
<!-- footer -->
<!-- ============================================================== -->
<footer class="footer">&copy CookBook 2018. All Rights Reserved.</footer>
<!-- ============================================================== -->
<!-- End footer -->
<!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<script src="/assets/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap popper Core JavaScript -->
<script src="/assets/plugins/bootstrap/js/popper.min.js"></script>
<script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="/stylesheets/js/perfect-scrollbar.jquery.min.js"></script>
<!--Page Functions -->
<script src="/stylesheets/js/functions.js"></script>
<!--Wave Effects -->
<script src="/stylesheets/js/waves.js"></script>
<!--Menu sidebar -->
<script src="/stylesheets/js/sidebarmenu.js"></script>
<!--Custom JavaScript -->
<script src="/stylesheets/js/custom.min.js"></script>
<!--Custom Search -->
<script src="/stylesheets/js/search.js"></script>
<!-- ============================================================== -->
<!-- This page plugins -->
<!-- ============================================================== -->
<script src="/assets/plugins/chartist-js/dist/chartist.min.js"></script>
<script src="/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js"></script>
<!--c3 JavaScript -->
<script src="/assets/plugins/d3/d3.min.js"></script>
<script src="/assets/plugins/c3-master/c3.min.js"></script>
<!-- Chart JS -->
<script src="/stylesheets/js/dashboard.js"></script>

</body>

</html>
