<%include layouts/header.html%>
<!-- ============================================================== -->
<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-themecolor">Dashboard</h3>
            </div>
            <div class="col-md-7 align-self-center">
                <a href="/login" class="btn waves-effect waves-light btn-warning pull-right hidden-sm-down">Login</a>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                      This is the Software Engineering Project for the courses BIE-SI1.2 - Software Engineering I and BIE-SP1 - Team Software Project I.
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <p>The goal of this project is:<p>
                        <ul>
                          <li>to manage meal recipes with the required ingredients.</li>
                          <li>to manage the day's menu consisting of several meals with expected number of served portions.</li>
                          <li>to create an approval process of the proposed day's menu by restaurant management.</li>
                          <li>to manage the ingredients stock and supply it on daily basis.</li>
                          <li>to note statistics of served portions to support the planning of day's menu portion numbers.</li>
                        </ul>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <p>The project team consists of the following members:<p>
                        <ul>
                          <li>Nilay Baranwal - ​barannil@fit.cvut.cz (Team Leader)</li>
                          <li>Giorgi Khazaradze - ​khazagio@fit.cvut.cz</li>
                          <li>Toghrul Sultanzade - ​sultatog@fit.cvut.cz</li>
                          <li>Rishabh Malik - ​malikris@fit.cvut.cz</li>
                          <li>Beksultan Baatyrbekov - ​baatybek@fit.cvut.cz</li>
                          <li>Abdullah Abdullah - ​abdulab1@fit.cvut.cz</li>
                        </ul>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <p>3-Layer Architecture Presentation:<p>
                        <img src="/assets/images/architecture.png" alt="3LA_Presentation" height="100%" width="100%"/>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
<%include layouts/footer.html%>
